networks:
  app_network:
    driver: bridge

services:
  database:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_network

  auth:
    image: quay.io/keycloak/keycloak:26.4.0
    command:
      - start
      - --https-certificate-file=/opt/keycloak/certs/keycloak.crt
      - --https-certificate-key-file=/opt/keycloak/certs/keycloak.key
      - --hostname=localhost
      - --hostname-strict=false
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HTTPS_PORT=8443
      - KC_HTTP_ENABLED=false
      - KC_PROXY=edge
      - KC_HOSTNAME_STRICT_BACKCHANNEL=false
    ports:
      - "8443:8443"
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./docker/server.crt:/opt/keycloak/certs/keycloak.crt
      - ./docker/server.key:/opt/keycloak/certs/keycloak.key
    networks:
      - app_network

  backend_php:
    build:
      context: ./docker
      dockerfile: Dockerfile.php
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./backend:/var/www/html
    environment:
      - APP_ENV=dev
      - APP_DEBUG=1
      - DATABASE_URL="mysql://symfony:symfony@db:3306/symfony?serverVersion=8.0&charset=utf8"
      - CORS_ALLOW_ORIGIN="https://localhost/app/"
      - OIDC_DOMAIN="https://auth/realms/playground"
      - OIDC_AUDIENCE="api_symfony"
    depends_on:
      - database
    ports:
      - "9000:9000"
    networks:
      - app_network

  backend_web:
    image: nginx:1.29-alpine3.22
    volumes:
      - ./docker/nginx_api.conf:/etc/nginx/conf.d/default.conf
      - ./backend:/var/www/html
    depends_on:
       - backend_php
    networks:
      - app_network

  reverseproxy:
    image: nginx:1.29-alpine3.22
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx_rp.conf:/etc/nginx/conf.d/default.conf
      - ./docker/server.crt:/etc/nginx/certs/server.crt
      - ./docker/server.key:/etc/nginx/certs/server.key
    depends_on:
      - backend_web
    networks:
      - app_network


  # frontend:
  #   image: node:24
  #   container_name: frontend_react
  #   user: "${UID:-1000}:${GID:-1000}"
  #   working_dir: /app
  #   volumes:
  #   - ./frontend/src:/app
  #   ports:
  #     - "3000:3000"
  #   command: sh -c "npm install && npm start"
  #   environment:
  #     - HTTPS=true
  #     - REACT_APP_API_URL=https://localhost/api/
  #     - REACT_APP_AUTH_OIDC_DOMAIN=http://localhost:8081/realms/playground
  #     - REACT_APP_AUTH_OIDC_CLIENT_ID=react_app
  #     - REACT_APP_AUTH_OIDC_AUDIENCE=api_symphony
  #   networks:
  #     - app_network

volumes:
  db_data:
  keycloak_data:
